.image-card {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.image-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.image-card h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    align-self: flex-start;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.buttons-container button {
    border: none;
    padding: 10px;
    border-radius: 45px;
}

.buttons-container button:hover {
    cursor: pointer;
}